.client-wrapper {
  background-color: #f3f6f6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.client-header {
  grid-column: 4/10;
  margin-top: 50px;
  
 .title {
    height: 32px;
    font-family: Teko;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #0e0e0e;
    text-transform: uppercase;
  }
  .client-comment {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #0e0e0e;
    max-width: 500px;
    margin: 0 auto;
  }

  @media (max-width: 540px) {
    grid-column: 2/12;
  }
}

.logo-grid {
  display: grid;
  grid-column: 2/12;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 50px auto;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
}

.logo-wrapper{
    display: flex;
    justify-content: space-around;
    height: 161px;
  
    .logo-image{
      width: 100%;
      height: auto;
      max-height: 100%;
    }
}