.menu-bar {
  line-height: 30px;
  height: 30px;
  &:hover {
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 540px) {
    line-height: 2.75;
    overflow: hidden;
  }

  @media only screen and (min-width: 541px) {
    overflow: hidden;
  }

  span {
    font-family: Teko;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #0e0e0e;
    text-decoration: none;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.close-button-icon {
  background-image: url('/images/cancel.svg');
  width: 25px;
  height: 25px;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover {
    cursor: pointer;
  }
}

.unstyled-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

  li a {
    text-decoration: none;
    width: 184px;
    height: 110px;
    font-family: Teko;
    font-size: 110px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background-image: url('/images/arrow-white.svg');
      background-size: cover;
      display: none;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    &:hover:before {
      display: inline-block;
    }
  }
  a:hover {
    color: yellow;
  }

  li {
    border-bottom: 1px solid #272727;
  }
}
