.three-cases-wrapper {
  display: grid;
  grid-gap: 30px;
}

.three-cases-wrapper {
  padding-top: 25px;
  border-top: solid 1px #dddddd;
  padding-bottom: 25px;
  border-bottom: solid 1px #dddddd;
}
